---
layout: single
header:
  overlay_image: /assets/images/rocky-cork-oak-website-header.jpg
  cta_label: "Download"
  cta_url: /download
---
<h1>Fault Diagnosis Toolbox</h1>
Fault Diagnosis Toolbox is a Matlab toolbox for analysis and design of
fault diagnosis systems for dynamic systems, primarily described by
differential-algebraic equations. Key features of the toolbox is extensive support
for structural analysis of large-scale dynamic models, fault isolability analysis,
sensor placement analysis, and code generation in C/C++ and Matlab.

<h2>News</h2>
<div>
{% for post in site.posts %}
{% if post.category == "example" or post.category == "tutorial" %}
{% else %}
{% include archive-single.html type="grid" %}
{% endif %}
{% endfor %}
</div>
<!--{% include paginator.html %}-->
